# Django core
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost
LANGUAGE_CODE=en-us
TIME_ZONE=Asia/Riyadh
USE_I18N=true
USE_TZ=true

# Database
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Auth redirects
LOGIN_URL=login
LOGIN_REDIRECT_URL=dashboard
LOGOUT_REDIRECT_URL=home

# Static
STATIC_URL=static/

# OWASP ZAP
ZAP_BASE_URL=https://127.0.0.1:8080
ZAP_API_KEY=
ZAP_VERIFY_SSL=false

# Bootstrap admin command (python manage.py bootstrap_admin)
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_EMAIL=admin@webshield.local
DEFAULT_ADMIN_PASSWORD=Admin@12345
